<div class="center" style="margin-top: 40px;">
    <div class="card">
        <h5 class="card-header">Editar Tipo Evaluacion</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Nuevo Nombre:</label>
              <input type="email" class="form-control" [(ngModel)]="tipoeva.nombre" name="nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button type="button" class="btn btn-primary" (click)="modificarTipoeva()">Editar</button>
          </form>

        </div>
      </div>


